.header__navbar {
    position: relative;
    height: 46px;
    background-color: #1c1c1c;
    width: 100%;
    display: inline-flex;
    font-size: 1.4rem;
    justify-content: space-between;
    z-index: 1;
}

.header__navbar-left {
    display: flex;
    color: var(--white-color);
    font-size: 1.4rem;
    align-items: center;
    padding-left: 18px;
}

.header__navbar-item {
    display: flex;

}

.header__navbar-contact {
    display: flex;
    margin: 0 20px 0 0;
    text-decoration: n;
    text-decoration: none;

}

.header__navbar-contact--icon {
    font-size: 1.4rem;
    color: #3fd0d4;
}

.header__navbar-contact--text {
    color: var(--white-color);
    padding: 0 0 0 10px;
}

.header__navbar-contact--text:hover {
    color: #3fd0d4;
}

/* navbar__right */
.header__navbar-right {
    display: flex;
    list-style: none;
}

.header__navbar-social {
    display: flex;
    font-size: 1.4rem;
    color: var(--white-color);
    padding: 0 182px 0 0;
    /* display: inline-block; */
}

.header__navbar-social-icon {
    color: var(--white-color);
    margin: 0px 12px;
}

.header__navbar-social-link {

}

.header__navbar-social-icon--img {
    font-size: 1.6rem;
    color: #fff;
}

.header__navbar-social-icon--img:hover {
    color: #3fd0d4;
}

.header__navbar-language {
    line-height: 46px;
    text-align: center;
    color: var(--white-color);
    width: 140px;
    background-color: #4dd3d8;
    position: absolute;
    right: 40px;
    top: 0;
    height: 100%;

}

.header__navbar-language:hover .header__navbar-language-option {
    display: block;
}

.header__navbar-language-select {

}

.header__navbar-language-option {
    display: none;
    color: var(--white-color);
    position: absolute;
    height: 46px;
    background-color: #67e2e6;
    width: 135px;
    align-items: center;
    
}

.header__navbar-language-text {
    text-decoration: none;
    list-style: none;
    font-size: 1.5rem;
    align-items: center;
    position: relative;
    left: -37px;
    font-weight: 400;
}

.header__navbar-language-text:hover {
    animation: fadeIn reverse .5s;
    cursor: pointer;
}

.header__navbar-login {
    position: absolute;
    background-color: #3abdc1;
    right: 0;
    width: 46px;
    top: 0;
    height: 100%;
}

.header__navbar-login-icon {
    text-align: center;
}

.header__navbar-login-icon--img {
    font-size: 2.4rem;
    color: var(--white-color);
    position: relative;
    top: 12px;
    left: 14px;
}

/* header__logo */
.header__logo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 150px;
}

.header__logo-img {

}

.header__logo-img--sologan {
    height: 200px;
}

/* header__menu */
.header__menu {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    height: 80px;
    align-items: center;
}

.header__menu-item{
    font-size: 1.8rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
}

.header__menu-item--text {
    text-transform: uppercase;
    color: var(--black-color);
    text-decoration: none;  
}

.header__menu-item--text:hover {
    color: #3abdc1;
}

.header__menu-item--text-first {
    color: #3abdc1;
}

/* CSS container */
.slide {
    width: 100%;
    margin-top: 0px;
    /* position: relative; */
}

.slide__img {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/img/ms_banner_img1.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 32px;
    position: relative;
    /* height: 100%; */
    /* height: auto; */
}

.slide__content {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    top: 55%;
}

.slide__content-text1 {
    letter-spacing: 1.2px;
    color: #d3b673;
    font-size: 9.6rem;
    font-family:  cursive;
    padding-bottom: 40px;
    margin-bottom: 40px;
    /* animation:  slogan infinite alternate 0.4s;
    position: relative; */
}

.slide__content-text2 {
    font-size: 54px;
    color: #ffffff;
    text-align: center;
    letter-spacing: 3.7px;
    line-height: 1.2;
    margin-bottom: 35px;
    text-transform: uppercase;
    font-family: cursive;
}

.slide__content-text3 {
    color: #ffffff;
    margin-bottom: 5px;
    text-align: center;
    letter-spacing: 2.1px;
    font-size: 18px;
    font-weight: 600;
    padding: 0 40px;
    padding-bottom: 42px;
    line-height: 1.1;
}

.btn-ordernow {
    height: 4rem;
    color: var(--white-color);
    border: 1px solid var(--white-color);
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
    background-color: transparent;
    text-transform: uppercase;
}

.btn-ordernow:hover {
    background: rgb(167, 204, 94);
}

.slide__scroll {
    margin-top: 3.2rem;
    animation: mountRoll infinite alternate 0.2s ;
    position: relative;
}

.slide__scroll-icon {
    color: white;
    font-size: 3.6rem;
}

.slide__scroll-text {
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: 300;
    margin-top: 2rem;
}


/* MENU MIUMIU */
.product {
    padding: 50px 0 60px 0;
}

.product__title {
    display: flex;
    /* text-align: center; */
    align-items: center;
    flex-direction: column;
}

.product__title-text1 {
    color: #d3b673;
    font-size: 3rem;
    margin-bottom: 5px;
    font-weight: bold;
    margin-bottom: 3.2rem;
    font-family: cursive;
}

.product__title-text2 {
    font-size: 36px;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 10px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    font-weight: bold;
    font-family:'Roboto';
}

.product__title-icon {
    
}

.product__title-icon-img{
    height: 5rem;
    width: 20rem;
}

/* list product */

.product__menu {
    margin-top: 6rem;

}

.product__menu-list {

}

.product__cart {
    margin-bottom: 32px;
    position: relative;
    box-shadow: 0px 2px 1.5px 0px #ccc;
}

.product__cart-tags {
    position: absolute;
    top: 0;
    padding: 4px;
}

.product__cart-tags-text {
    font-size: 1.4rem;
    font-weight: 800;
    background: #d3b673;
    transform: rotate(-15deg);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
    font-family: monospace;
}

.product__cart-content-price {
    background-color: #f5f5f5;
    /* top: 42px; */
    padding-top: 2px;
}

.product__cart-content-price:hover .product__cart-order {
    display: block;
    animation: ani ease-in 0.1s;
}

.product__cart-content {
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    margin-top: 18px;
    font-family: 'Roboto';
    padding-top: 24px;
    left: 2px;
    top: 1px;

    /* dài thì có 3 chấm */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 14px;
}

.product__cart-price {
    font-family: Muli;
    font-size: 14px;
    font-weight: 700;
    color: #8a733f;
    text-align: center;
    margin-top: 24px;
    padding-bottom: 16px;
}

.product__cart-order {
    height: 4rem;
    color: var(--white-color);
    font-size: 1.6rem;
    padding: 8px 16px;
    border: 1px solid #d3b673;
    background: #d3b673;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 1.2rem; 
    
    display: none;
}

.product__cart-order:hover {
    background-color: var(--white-color);
    color: #d3b673;
}

.product__cart-order-text {
    font-weight: 300;
}

.product__cart-img-link {
    height: 22rem;
    width: 100% ;
}

/* CSS PROFILE */
.profile {
    position: relative;
}

.profile__img {
    width: 100%;
}

.profile__title {
    position: absolute;
    top: 30%;
    right: 0;
    width: 35%;
    display: flex;

    flex-direction: column;
    align-items: center;
    margin-right: 40px;
}

.profile__title-me {
    margin-bottom: 10px;
}
.profile__title-text1 {
    color: #d3b673;
    font-size: 2.4rem;
    margin-bottom: 27px;
    font-weight: bold;
    text-align: center;
    font-family: cursive;
}

.profile__title-text2 {
    font-size: 2.6rem;
    font-weight: bolder;
    font-family: cursive;
    text-align: center;
    color: var(--black-color);
    letter-spacing: 0.4px;
    text-transform: uppercase;
    
}

.profile__title-icon {

}

.profile__title-description {
    text-align: center;
    /* font-family: Muli; */
    color: #333333;
    font-weight: 200;
    font-size: 14px;
    margin: 24px 0;
    line-height: 1.4;
}

.profile__title-btn {
    height: 4rem;
    color: var(--white-color);
    font-size: 1.6rem;
    padding: 8px 16px;
    border: 1px solid #d3b673;
    background: #d3b673;
    cursor: pointer;
}

/* CSS KHAM PHA */

.container__discover {
    margin-top: 60px;
}

.container__discover-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* text-align: center; */
    margin-bottom: 3.2rem;
}

.container__discover-title--text1 {
    color: #d3b673;
    font-size: 2.4rem;
    font-family: monospace;
    font-weight: bold;
    margin-bottom: 2rem;
}

.container__discover-title--text2 {
    font-size: 3.4rem;
    text-align: center;
    color: #000000;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    margin-bottom: 0;
    line-height: 1.2;
    font-family: cursive;
}

.container__discover-title-icon {
    display: flex;
    align-items: center;

}

.container__discover-title-icon--img {
    height: 3rem;
}

.container__discover-title-text3 {
    font-size: 1.4rem;
    margin-left: 6px;
    font-weight: 350;
}

.container__discover-content {
    display: flex;
    margin-top: 5rem;
    margin: 40px;
}

.container__discover-img {

}

.container__discover-img-icon {
    width: 70%;
    height: 300px;
    border-bottom: 1px solid #ccc;
}

.container__discover-img-text {
    margin-left: 0px;
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #282828;
    height: 60px;
    padding-top: 15px;
    padding-left: 10px;
    margin-bottom: 30px;

}

.container__discover-img-text1 {
    /* background-color: #f5f5f5; */
    width: 75%;
    line-height: 1.5;

}

.container__discover-img-text2 {
    /* background-color: #f5f5f5; */
    width: 75%;
    line-height: 1.5;
}

/* CSS FOOTER */
.footer {
   /* background: url('/assets/img/footer_img.jpg') no-repeat  center;
   background-size: cover;
   background-position: initial; */
   /* height: 250px; */
   background-color: #303438;

   
}

.footer__info {
    color: var(--white-color);
    margin-top: 4rem;
    font-size: 1.4rem;
    line-height: 1.8;
}

.footer__join {
    display: flex;
    flex-direction: column;
    line-height: 3;
    margin-top: -10px;
}

.footer__join-title {
    text-transform: uppercase;
    /* font-weight: 700; */
    /* font-size: 1.6rem; */
}

.footer__join-in {
    border-radius: 2px;
    height: 4.2rem;
    border: 1px solid #ccc;
}

.footer__join-btn {
    background-color: #c4161c;
    max-width: 160px;
    margin-top: 8px;
    border-radius: 2px;
    text-align: center;
    font-weight: 400;
}

.footer__icon {
    /* padding-left: 6px; */
}

.footer__bottom {
    padding: 8px 0;
    background-color: #F5F5F5;
    margin-top: 40px;
}

.footer__text {
    text-align: center;
    margin: 0;
    font-size: 1.8rem;
    color: #737373;
}
